@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 .font-one{
    font-family: "Rancho", cursive; 
 }
 .font-two{
  font-family: "Raleway", sans-serif;
 }
 #navbar{
  background-image: url('15.jpg');
  background-repeat: no-repeat;
  background-size: cover ; 
 }
 #bannerPart{
  background-image: url('6.jpeg');
   background-size:   cover;
  background-repeat: no-repeat;  
  }
  #catergory{
    background-image: url('4.png');
    background-position: left top;
    background-repeat: no-repeat;
   }
   #footer{
    background-image: url('11.png');
    background-repeat: no-repeat;
    background-size: cover; 
   }
